@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter.ttf");
  font-weight: 400;
}


body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: "Inter";
}


:root {
  /* Backgrounds */
  --bg-main: #EEF2F7;
  --bg-card: #FFFFFF;

  /* Text */
  --text-main: #0F172A;
  --text-muted: #475569;

  /* Brand colors */
  --color-primary: #1E3A8A;   /* headings, navbar */
  --color-secondary: #2563EB; /* links */
  --color-accent: #F59E0B;    /* buttons, highlights */

  /* UI */
  --border-color: #E2E8F0;
  --radius: 0.625rem;
}
